@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,600,700&display=swap&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=La+Belle+Aurore&display=swap");
//
$maintext: #999;
$bgcolor: #101010;
$menucolor: #000;
$modalcolor: #6c757d;
$fontheader: "Pattaya", sans-serif;
$fontmenu: "Comfortaa", sans-serif;
$fonttitle: "Josefin Sans", sans-serif;
$fontstyle: "ANVYL", sans-serif;
$fontbefore: "La Belle Aurore", sans-serif;

* {
  box-sizing: border-box;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #000;
}
*::-webkit-scrollbar {
  width: 5px;
  background-color: #000;
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #999;
}

body {
  background-color: $bgcolor;
}
a {
  text-decoration: none;
  color: $maintext;
  cursor: pointer;
}
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.btn {
  font-family: $fontmenu;
}

.formElWrapper {
  margin-bottom: 30px;
  .formEl {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #dedede;
    transition: 0.2s;
    font-family: $fontmenu;
    font-size: 16px;
  }
  & > p {
    margin: 0;
    font-size: 18px;
    line-height: 32px;
  }
  textarea {
    resize: vertical;
    min-height: 150px;
  }
  select {
    color: #8d8d8d;
    cursor: pointer;
    option {
      color: #000;
    }
  }
}